h1, h2 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1rem;
}

button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #5a189a;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #7b2cbf;
}

.quiz-container, .result {
  background-color: #f6f6f6;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  text-align: center;
}

.quiz-header {
  margin-top: 0;
  padding-top: 0;
  color: #f0f0f0;
  text-align: center;
}

.quiz-header h1 {
  font-size: 4rem;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Responsividade */
/* Celulares */
@media (max-width: 480px) {
  .quiz-header h1 {
    font-size: 2.5rem;
  }

  .quiz-container, .result {
    padding: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  button {
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .quiz-header h1 {
    font-size: 3rem;
  }

  .quiz-container, .result {
    padding: 2rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  button {
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
  }
}
