<div class="app-wrapper">
  <div class="quiz-header">
    <h1>BuzzFeed</h1>
    <p>De qual casa de Hogwarts você faria parte?</p>
  </div>
  <div class="quiz-container" *ngIf="!showResult; else resultTemplate">
    <h2>{{ currentQuestion.question }}</h2>

    <div class="options">
      <button *ngFor="let option of currentQuestion.options" (click)="answer(option.house)">
        {{ option.text }}
      </button>
    </div>
  </div>

  <ng-template #resultTemplate>
    <div class="result">
      <h1>Sua casa é: {{ resultHouse }}</h1>
      <button (click)="restart()">Recomeçar</button>
    </div>
  </ng-template>
</div>
